body {
  margin: 0;
  margin-top: 50px;
}
header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  line-height: 50px;
  background-color: lightgray;
}

header * {
  display: inline;
  
}
header ul {
  padding: 0;
}

header li {
  margin-left: 20px;
}
.profile-img {
  padding: 4px;
  width: 100px;
  height: auto;
  border-radius: 50%;
}

section {
  height: 100vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items : center;
  text-align: center;

}